#desc{
    /* font-size:80%;
    font-family:tahoma;
    color:#222;
    width:250px; */
    /* float:left; */
    position:absolute;
    /* margin:5px; */
    /* background-color:rgba(255, 255, 255, 0.5); */
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    /* background: rgb(112, 112, 216); */
    background-image: url(Images/1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 5s;
}

.wrapper {
    width: 605px;
    /* background: linear-gradient(to right bottom, #fe4ab1, #eb72d5, #d692ed, #c3abf9, #bac0fc, #c1cafb, #cad4f9, #d4ddf6, #dfe3f6, #e9eaf7, #f1f1f7, #f8f8f8); */
    border-radius: 20px;
    padding: 30px 30px 25px;
    transition: 5s;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}

.wrapper header {
    font-size: 35px;
    font-weight: 600px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#clock ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 0;
}

#clock ul li {
    list-style: none;
}

.wrapper .content {
    margin: 35px 0;
}

.content .quote-area {
    display: flex;
    justify-content: center;
}

.quote-area i {
    font-size: 15px;
}

.quote-area i:first-child {
    margin: 3px 10px 0 0;
}

.quote-area i:last-child {
    margin: 0 0 3px 10px;
    display: flex;
    align-items: flex-end;
}

.quote-area .quote {
    font-size: 22px;
    text-align: center;
    word-break: keep-all;
    font-family: 'Dancing Script', cursive;
}

.content .author {
    display: flex;
    margin: 20px;
    font-size: 18px;
    font-style: italic;
    justify-content: flex-end;
}

.author span:first-child {
    margin: -7px 5px 0 0;
    font-family: monospace;
}

.wrapper .buttons {
    border-top: 1px solid rgb(76, 76, 76);
}

#clock ul li {
    text-decoration: solid;
    font-family: Neue Helvetica;
    font-weight: bold;
    font-style: italic;
}

.buttons .features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.features ul {
    display: flex;
}

.features ul li {
    z-index: 10;
    list-style: none;
    margin: 0 8px;
    width: 47px;
    height: 47px;
    cursor: pointer;
    color: rgb(88, 88, 223);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid rgb(112, 112, 235);
    transition: all 0.3s ease;
}

.features ul li:hover {
    color: #fff;
    background: rgb(119, 119, 240);
}

.features button {
    z-index: 5;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-style: 16px;
    padding: 13px 22px;
    border-radius: 30px;
    background: rgb(114, 114, 225);
}

#loader {
    background: rgba(0, 0, 0, 0.999) url(./loader1.gif) no-repeat center;
    transform: translateY(1000px);
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 2;
}

#loader.active {
    opacity: 0.8;
    transform: translateY(0);
    z-index: 10;
}

/* .newquote {
    text-decoration: none;
    font-weight: 500;
    position: relative;
    font-size: 14px;
    color: #333;
    background-color: #ddd;
    display: block;
    padding: 14px 20px;
    border-radius: 10px;
    overflow: hidden;
}


div.buttons.features {
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50rem;
    background-color: red;
    animation: rippleEffects 1s linear infinite;
}

@keyframes rippleEffect {
    from {
        width: 0;
        height: 0;
        opacity: .5;
    }

    to {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
} */

.btn:hover {
    background-color: blue;
    box-shadow: 0 3px #666;

}

.btn:active {
    /* background-color: #3e8e41; */
    /* box-shadow: 0 5px #666; */
    transform: translateY(4px);
}