body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(112, 112, 216);
}

.wrapper{
    width: 605px;
    background: whitesmoke;
    border-radius: 20px;
    padding: 30px 30px 25px;
}

.wrapper header{
    font-size: 35px;
    font-weight: 600px;
    text-align: center;
}

.wrapper .content{
    margin: 35px 0;
}

.content .quote-area{
    display: flex;
    justify-content: center;
}
.quote-area i{
    font-size: 15px;
}

.quote-area i:first-child{
    margin: 3px 10px 0 0;
}
.quote-area i:last-child{
    margin: 0 0 3px 10px;
    display: flex;
    align-items: flex-end;
}

.quote-area .quote{
    font-size: 22px;
    text-align: center;
    word-break: keep-all;
}

.content .author{
    display: flex;
    margin: 20px;
    font-size: 18px;
    font-style: italic;
    justify-content: flex-end;
}

.author span:first-child{
    margin: -7px 5px 0 0;
    font-family: monospace;
}

.wrapper .buttons{
    border-top: 1px solid rgb(76, 76, 76);
}

.buttons .features
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.features ul{
    display: flex;
}

.features ul li{
    z-index: 10;
    list-style: none;
    margin: 0 8px;
    width: 47px;
    height: 47px;
    cursor: pointer;
    color: rgb(88, 88, 223);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid rgb(112, 112, 235);
    transition: all 0.3s ease;
}
.features ul li:hover{
    color: #fff;
    background: rgb(119, 119, 240);
}
.features button{
    z-index: 5;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-style: 16px;
    padding: 13px 22px;
    border-radius: 30px;
    background: rgb(114, 114, 225);
}
#loader{
    background:  rgba(0, 0, 0, 0.999) url(./loader1.gif) no-repeat  center;
   transform: translateY(1000px);
    height: 100vh;
    width: 100%;
    position: fixed;  
    z-index: 2;
}
#loader.active{
    opacity: 0.8;
   transform: translateY(0);
   z-index: 10;
}